<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>
<body>
    <div class="content">
        <div class="">
            <div class="">
                <img class="" src="" alt="">
            </div>
            <form role="form" class="form">
                <div class="field is-grouped">
                    <div class="field">
                        <div class="control">
                            <input type="text" name="email" id="" class="input" placeholder="이메일" autocomplete="off">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input type="password" name="password" id="" class="input" placeholder="비밀번호" autocomplete="off">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <a href="" role="link" class="">이메일 또는 비밀번호를 잊어버리셨다면?</a>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="field">
                        <div class="control">
                            <button type="button" id="signInBtn" class="button is-primary">로그인</button>
                        </div>
                    </div>
                </div>
                <span class="or"></span>
                <div class="field is-grouped">
                    <div class="field">
                        <div class="control">
                            <img class="" src="" alt="">
                            <button type="button" id="kakaoBtn" class="">카카오 계정으로 로그인</button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <img class="" src="" alt="">
                            <button type="button" id="googleBtn" class="">구글 계정으로 로그인</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="">
            계정이 없으신가요? <a href="" role="link" class="">가입하기</a>
        </div>
    </div>
</body>
</html>