@charset "UTF-8";

/** description about this stylesheet file... */
/*! common css v1.0 |  | https://github.com/tnbin847 */

:root {
    --control-padding: var(--space-2xs);
    --control-border: var(--border-width-sm) solid var(--border);
    --control-border-focus: var(--primary);
    --control-border-rounded: var(--radius-sm);
    --control-background: var(--white);

    --control-icon-vertical-offset: 13px;
    --control-icon-horizontal-offset: 16px;

    --form-element-text-placeholer: var(--text-helper);
    --form-element-height: 28px;
}


.form {
    line-height: 1;
    color: var(--text-default);
    font-family: var(--font-primary);
    font-size: var(--text-base-size);
    font-weight: 600;
}


.field:not(:last-child) {
    margin-bottom: var(--space-unit);
}

.field.is-grouped {
    margin: var(--space-md) 0;
}

.field.is-grouped:first-child {
    margin-top: 0;
}

.field.is-grouped:last-child {
    margin-bottom: 0;
}

.control {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.control:has(.input), .control:has(.select), .control:has(.button) {
    padding: var(--space-2xs);
    border: var(--control-border);
    border-radius: var(--control-border-rounded);
    background-color: var(--control-background);
}

.control:has(.input):focus-within {
    border-color: var(--control-border-focus);
}

.has-addons {
    display: flex;
    align-items: center;
    position: relative;
}

.has-addons > * {
    display: inline-block;
}

.has-addons.is-align-left > *:first-child {
    width: 75%;
}

.has-addons.is-align-left > *:not(:last-child) {
    margin-right: calc(var(--space-3xs) - 2px);
}


.label {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    font-family: var(--font-secondary);
    margin-bottom: var(--space-2xs);
}

.input {
    display: inline-block;
    position: relative;
    width: 96%;
    height: var(--form-element-height);
    color: var(--black);
}

.input::placeholder {
    color: var(--form-element-text-placeholer);
    font-family: var(--font-style-placeholder);
}
