@charset "UTF-8";

/** description about this stylesheet file... */
/*! common css v1.0 |  | https://github.com/tnbin847 */

@font-face {
    font-family: 'pretendard-light';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Light.woff'),
         url('/fonts/pretendard/Pretendard-Light.woff2');
}

@font-face {
    font-family: 'pretendard-regular';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Regular.woff'),
         url('/fonts/pretendard/Pretendard-Regular.woff2');
}

@font-face {
    font-family: 'pretendard-medium';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Medium.woff'),
         url('/fonts/pretendard/Pretendard-Medium.woff2');
}

@font-face {
    font-family: 'pretendard-semibold';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-SemiBold.woff'),
         url('/fonts/pretendard/Pretendard-SemiBold.woff2');
}

@font-face {
    font-family: 'montserrat-bold';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-Bold.woff'),
         url('/fonts/montserrat/Montserrat-Bold.woff2');
}

@font-face {
    font-family: 'montserrat-extrabold';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-ExtraBold.woff'),
         url('/fonts/montserrat/Montserrat-ExtraBold.woff2');
}

@font-face {
    font-family: 'montserrat-black';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-Black.woff'),
         url('/fonts/montserrat/Montserrat-Black.woff2');
}


:root {
    /* Typography */
    --text-default: var(--dark);
    --text-placeholder: var(--gray-600);
    --text-helper: var(--helper);

    --link-plain: var(--gray-700);
    --link-accent: var(--accent);

    /* Icon */
    --icon-default: var(--icon);
    --icon-primary: var(--primary);
    --icon-secondary: var(--secondary);
}


* {
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    color: var(--text-default);
    font-family: var(--font-primary);
    font-size: var(--text-base-size);
    font-weight: 600;
}


.is-text-ok {
    color: var(--ok);
}

.is-text-warn {
    color: var(--warn);
}

.is-text-danger {
    color: var(--danger);
}

.is-text-helper {
    color: var(--text-helper);
}

.is-link-plain {
    color: var(--link-plain);
}

.is-link-accent {
    color: var(--link-accent);
}


.help-block {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    color: var(--text-helper);
    font-size: var(--text-sm);
}

.help-block.is-scope-wide.is-align-top {
    margin-bottom: var(--space-md);
}

.help-block.is-scope-sm.is-align-top {
    margin-bottom: var(--space-3xs);
}

.help-block.is-scope-wide.is-align-bottom {
    margin-top: var(--space-md);
}

.help-block.is-scope-sm.is-align-bottom {
    margin-top: var(--space-3xs);
}

.link {
    font-family: var(--font-primary);
    font-size: var(--text-sm);
}


.link.is-grouped {
    padding: 0 var(--space-3xs);
}

.link.is-grouped > *:first-child {
    padding-right: 0;
}

.link.is-grouped > *:last-child {
    padding-left: 0;
}


.has-site-logo-sm {
    width: calc(350px / 6px);
    padding: var(--space-2xs);
}

.has-site-logo-md {
    width: calc(350px / 4px);
    padding: var(--space-2xs);
}   

.has-site-logo-lg {
    width: calc(350px / 2);
    padding: var(--space-2xs);
}

.site-logo {
    width: 100%;
    height: auto;
}
