@charset "utf-8";

/*! Suihin's common CSS v1.0.0 | https://github.com/tnbin847 */

@font-face {
    font-family: 'pretendard-light';
    font-display: swap;
    src: url('/fonts/Pretendard-Light.woff'),
         url('/fonts/Pretendard-Light.woff2');
}
@font-face {
    font-family: 'pretendard-regular';
    font-display: swap;
    src: url('/fonts/Pretendard-Regular.woff'),
         url('/fonts/Pretendard-Regular.woff2');
}
@font-face {
    font-family: 'pretendard-medium';
    font-display: swap;
    src: url('/fonts/Pretendard-Medium.woff'),
         url('/fonts/Pretendard-Medium.woff2');
}
@font-face {
    font-family: 'pretendard-semibold';
    font-display: swap;
    src: url('/fonts/Pretendard-SemiBold.woff'),
         url('/fonts/Pretendard-SemiBold.woff2');
}


:root {
    --font-primary: 'pretendard-regular', sans-serif;
    --font-secondary: 'pretendard-medium' sans-serif;
}


* {

}