@charset "UTF-8";

/*? description about this stylesheet file... */
/*! common css v1.0 |  | https://github.com/tnbin847 */

:root {
    /* Color */
    --primary: #434CE6;
    --secondary: #D1D3FA;
    --accent: #3E83EB;
    --muted: #A7ACB6;
    --border: #D7DBDF;
    --light: #F8F8F9;
    --dark: #484757;
    --icon: #6A6F85;

    --white: #FFFFFF;
    --gray-100: #F8F9FA;
    --gray-200: #E9ECEF;
    --gray-300: #DEE2E6;
    --gray-400: #CED4DA;
    --gray-500: #ADB5BD;
    --gray-600: #6C757D;
    --gray-700: #495057;
    --gray-800: #060707;
    --gray-900: #212529;
    --black: #0A0C0D;

    --kakao-primary: #FAE100;
    --kakao-secondary: #3C1D1E;
    --google-primary: #F1F1F1;
    --google-secondary: #EBEBEB;
    --google-tertiary: #525F7A;

    /* Typography */
    --font-primary: 'pretendard-regular', sans-serif;
    --font-secondary: 'pretendard-medium', sans-serif;

    --font-style-heading: 'pretendard-semibold', sans-serif;
    --font-style-placeholder: 'pretendard-light', sans-serif;

    --text-base-size: 13px;
    --text-scale: 4px;
    --text-xs: calc(px + var(var(--text-scale)));
    --text-sm: calc(px + var(var(--text-scale)));
    --text-md: calc(px + var(var(--text-scale)));
    --text-lg: calc(px + var(var(--text-scale)));
    --text-xl: calc(px + var(var(--text-scale)));
    --text-2xl: calc(px + var(var(--text-scale)));

    /* Spacing */
    --space-unit: 16px;
    --space-3xs: calc(0.25 * var(--space-unit));
    --space-2xs: calc(0.5 * var(--space-unit));
    --space-xs: calc(0.75 * var(--space-unit));
    --space-sm: calc(1.25 * var(--space-unit));
    --space-md: calc(1.5 * var(--space-unit));
    --space-lg: calc(1.75 * var(--space-unit));
    --space-xl: calc(2 * var(--space-unit));
    --space-2xl: calc(2.25 * var(--space-unit));
    --space-3xl: calc(2.75 * var(--space-unit));

    /* Icons */
    --icon-base-size: 12px;
    --icon-scale: calc(var(--text-scale) + 2px);
    --icon-sm: calc(var(--text-xs) + var(--icon-scale));
    --icon-md: calc(var(--text-sm) + var(--icon-scale));
    --icon-lg: calc(var(--text-md) + var(--icon-scale));
    --icon-xl: calc(var(--text-lg) + var(--icon-scale));
    --icon-2xl: calc(var(--text-xl) + var(--icon-scale));

    /* Border */
    --border-width-sm: 1px;
    --border-width-md: 2px;
    --border-width-lg: 4px;

    --radius-sm: 3px;
    --radius-md: 6px;
    --radius-lg: 9px;
    --radius-full: 50px;

    /* Others */
    --box-shadow-xs: 0px 1px 4px var(--gray-500);
    --box-shadow-sm: 0px 2px 8px 0px var(--gray-500);
    --box-shadow-md: 0px 4px 12px var(--gray-500);
    --box-shadow-lg: 0px 5px 15px var(--gray-500);

    --opacity-weak: 0.3;
    --opacity-strong: 0.7;
}



































































































































