@charset "utf-8";

/*! Suihin's common CSS v1.0.0 | https://github.com/tnbin847 */

:root {
    /* -----------------------------------------------
        || COLOR STYLES 
     ----------------------------------------------- */
    /* MAIN COLORS */
    --color-primary: #434CE6;
    --color-secondary: #D1D3FA;
    --color-muted: #A7ACB6;
    --color-accent: #3E83EB;
    --color-border: #D7DBDF;
    --color-light: #F8F8F9;
    --color-dark: #484757;

    /* TEXT COLORS */
    --color-text: var(--color-dark);
    --color-text-helper: #6C6B7E;
    --color-text-placeholder: #B5BAC2;

    /* ICON COLORS */
    --color-icon: #6A6F85;
    --color-icon-primary: var(--color-primary);
    --color-icon-secondary: var(--color-secondary);
    
    /* FEEDBACK COLORS */
    --color-success-background: #CFEADB;
    --color-success: #76C398;
    --color-warning-backkground: #FDEFD7;
    --color-warning: #FBCA77;
    --color-danger-background: #FACFD0;
    --color-danger: #EE585B;

    /* SHADES */
    --black: #0A0C0D;
    --gray-900: #212529;
    --gray-800: #343A40;
    --gray-700: #495057;
    --gray-600: #6C757D;
    --gray-500: #ADB5BD;
    --gray-400: #CED4DA;
    --gray-300: #DEE2E6;
    --gray-200: #E9ECEF;
    --gray-100: #F8F9FA;
    --white: #FFFFFF;
    
    /* SOCAIL COLORS */
    --color-kakao-background: #FAE100;
    --color-kakao-foreground: #3C1D1E;
    --color-google-background: #F1F1F1;
    --color-google-border: #EBEBEB;
    --color-google-foreground: #525F7A;


    /* -----------------------------------------------
        || FONT SIZES
     ----------------------------------------------- */
    --font-size-base: 13px;

    --font-scale: 4px;
    --font-xs: calc(4px + var(--font-scale));
    --font-sm: calc(8px + var(--font-scale));
    --font-md: calc(12px + var(--font-scale));
    --font-lg: calc(16px + var(--font-scale));
    --font-xl: calc(20px + var(--font-scale));
    --font-2xl: calc(24px + var(--font-scale));

    
    /* -----------------------------------------------
        || SPACING
     ----------------------------------------------- */
    --space-unit: 16px;
    --space-xxxs: calc(0.25 * var(--space-unit));   /* 4px */
    --space-xxs: calc(0.5 * var(--space-unit));     /* 8px */
    --space-xs: calc(0.75 * var(--space-unit));     /* 12px */
    --space-sm: calc(1.25 * var(--space-unit));     /* 20px */
    --space-md: calc(1.5 * var(--space-unit));      /* 24px */
    --space-lg: calc(1.75 * var(--space-unit));     /* 28px */
    --space-xl: calc(2 * var(--space-unit));        /* 32px */
    --space-2xl: calc(2.25 * var(--space-unit));    /* 36px */
    --space-3xl: calc(2.75 * var(--space-unit));    /* 44px */


    /* -----------------------------------------------
        || ICON STYLES
     ----------------------------------------------- */
     --icon-size-base: 12px;

    --icon-scale: 6px;
    --icon-md: calc(var(--font-sm) + var(--icon-scale));    /* 18px */
    --icon-lg: calc(var(--font-md) + var(--icon-scale));    /* 22px */
    --icon-xl: calc(var(--font-lg) + var(--icon-scale));    /* 26px */
    --icon-2xl: calc(var(--font-xl) + var(--icon-scale));   /* 30px */


    /* -----------------------------------------------
        || UTILITY STYLES
     ----------------------------------------------- */
    --radius-sm: 3px;
    --radius-md: 6px;
    --radius-lg: 8px;
    --radius-xl: 12px;
    --radius-full: 50px;
}


.flex {
    display: flex;
    flex-wrap:  nowrap;
}

.column {
    flex-direction: column;
}
.column.is-align-top {
    align-items: flex-start;
    justify-content: center;
}
.column.is-align-centered {
    align-items: center;
}
.column.is-align-bottom {
    align-items: flex-end;
    justify-content: center;
}

.row {
    flex-direction: row;
}
.row.is-align-left {
    justify-content: flex-start;
    align-items: center;
}
.row.is-align-centered {
    justify-content: center;
}
.row.is-align-right {
    justify-content: flex-end;
    align-items: center;
}
.row.is-align-space-between {
    justify-content: space-between;
    align-items: center;
}
.row.is-align-space-around {
    justify-content: space-around;
    align-items: center;
}

.column.is-align-midst, .row.is-align-midst {
    align-items: center;
    justify-content: center;
}


.box {
    display: block;
    position: relative;
    box-sizing: border-box;
}


.rounded-sm {
    border-radius: var(--radius-sm);
}
.rounded-md {
    border-radius: var(--radius-md);
}
.rounded-lg {
    border-radius: var(--radius-lg);
}
.rounded-xl {
    border-radius: var(--radius-xl);
}
.rounded-full {
    border-radius: var(--radius-full);
}