@charset "UTF-8";

/** description about this stylesheet file... */
/*! common css v1.0 |  | https://github.com/tnbin847 */

#page {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}


#container {
    display: flex;
    flex: 1;
}


#footer {
    width: 100%;
    color: var(--text-helper);
    font-size: var(--text-sm);
    background-color: var(--light);
}