@charset "utf-8";

/*! tworks v1.0 | copyright 2025. suihin all rights reserved | https://github.com/tnbin847 */

.page {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}


.container {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
}

.contents {
    padding: var(--space-xs);
}


.footer {
    width: 100%;
    padding: var(--space-xs);
    background-color: var(--color-light);
}