<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headLib">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>티웍스</title>
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- 공통 CSS 파일 -->
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/common/helper.css">
    <link rel="stylesheet" href="/css/common/content.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <link rel="stylesheet" href="/css/common/component.css">
</head>
</html>